h1 {
  color: #2db300;
}

h2 {
  color: #39e600;
}

p {
  font-size: 30px;
  color: #392613;
}

img {
  width: 400px;
  display: block;
  margin: 5% auto;
}

ul {
  list-style-position: inside;
  font-size: 35px;
}

ol {
  list-style-position: inside;
  font-size: 35px;
}

body {
  background-color: #1f7a1f;
  text-align: center;
}
